.auth-card {
    @apply dark:bg-slate-800 bg-white dark:border-slate-700 border-slate-200;
  }
  
  .auth-card h1,
  .auth-card h2,
  .auth-card h3,
  .auth-card h4,
  .auth-card h5,
  .auth-card h6 {
    @apply dark:text-white text-slate-900;
  }
  
  .auth-card p {
    @apply dark:text-slate-300 text-slate-700;
  }
  