.DialogOverlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  
  .DialogContent {
    background-color: white !important;
  }
  
  .dark .DialogContent {
    background-color: #1e293b !important; /* slate-800 */
    color: #f3f4f6 !important; /* gray-100 */
    border-color: #334155 !important; /* slate-700 */
  }
  